@import "bootstrap";

.weather{
  text-align: center;
  font-weight: bold;
}

.header{
  font-weight: bold;
  text-align: center;
}

 .navbar-brand{
 	text-align: center;
 }

 .lead{
 	text-align: center;
 }

 .locations{
 font-weight: bold;
 }

 .weather_summary{
 	text-align: center;
 	font-weight: bold;
 	font-size: 25px;
 	color: blue;
 }

.jumbotron {
    background: none
}
 
 
 body{
  background-image: url("background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}